/**
 * @file
 * Styling for results page.
 */


th.ckc-work-id {
  width: 45px;
}

th.ckc-work-title {
  max-width: 260px;
}

th.ckc-work-points {
  width: 45px;
  vertical-align: bottom;
}

th.ckc-work-votes {
  width: 20px;
  vertical-align: bottom;
}
table tr th:nth-child(3),
table tr th:nth-child(4),
table tr th:nth-child(5),
table tr th:nth-child(6),
table tr th:nth-child(7),
table tr th:nth-child(8),
table tr th:nth-child(9),
table tr td:nth-child(3),
table tr td:nth-child(4),
table tr td:nth-child(5),
table tr td:nth-child(6),
table tr td:nth-child(7),
table tr td:nth-child(8),
table tr td:nth-child(9) {
  text-align: center;
}

th.ckc-work-mlok {
  width: 80px;
}

table tr td {
  vertical-align: top;
}
