<div class="cys">
  <div  class="cys--year-select">
    <select>
      <option>2000</option>
      <option>2001</option>
    </select>
  </div>
  <div class="cys--lock" title="Ročník 2021 je uzamčen." data-cys-locked="true"></div>
</div>
